@model IEnumerable<Patient>
@{
    ViewBag.Title = "Patient List";
}
    <br />
<h2>Registered Patients List</h2>
<table class="table">
    <thead >
        <tr>
            <td>Name</td>
            <td>Age</td>
            <td>Address</td>
            <td>Occupation</td>
            <td>Has Insurance</td>
            <td>Had Operation Before</td>
            <td>Marital Status</td>
            <td>Registration Date</td>
        </tr>
    </thead>

    <tbody>
        @foreach (Patient p in Model) 
        {
        <tr>
            <td>@p.Name</td>
            <td>@p.Age</td>
            <td>@p.Address</td>
            <td>@p.Occupation</td>
            <td>
                @if (p.HasInsurance == true)
                {
                    @: Yes
                }
                else
                {
                    @: No
                }
            </td>
            <td>
                @(p.HadOperation ? "Yes" : "No")
            </td>
            <td>
                @switch (p.MaritalStatus)
                 {
                    case 1:
                        @: Single
                        break;
                    case 2:
                        @: Married
                        break;
                    case 3:
                        @: Divorced
                        break;
                    case 4:
                        @: Widowed
                        break;
                 }
            </td>
            <td>@p.RegistrationDate</td>
        </tr>
        }
    </tbody>

</table>